footer{
    padding: 32px 0;
    position: relative;
    *{
        margin-bottom: 0;
    }
    @include font-style($Black-0,16px,1.5,700);
    a{
        color: $Black-0;
        &:hover{
            color: $Black-0;
        }
        span{
            vertical-align: middle;
            margin-left: 14px;
        }
    }
    .back-To-top{
        @include ipad{
            position: absolute;
            right: 0;
        }
    }
}