.regulate{
    // margin-top:120px;
    h4{
        @include font-style($Black-0,48px,1.2,900);
        @include ipad(){
            font-size: 32px;
        }
    }
    p{
        margin-top:24px;
        font-size: 32px;
        @include ipad(){
            font-size: 16px;
        }
    }
    .regulate-card{
        margin-top:24px;
        border-bottom: 1px solid $Black-80;
        padding-bottom:40px;
    }
}