$Black-100:#020202;
$Black-80:#525252;
$Black-60:#919191;
$Black-40:#D1D1D1;
$Black-20:#F2F2F2;
$Black-0:#FFFFFF;

$border-radius-16:16px;




// bs
// $modal-content-box-shadow-xs:       red;
// $modal-content-box-shadow-sm-up:    blue;
// $pagination-focus-bg:               $Black-100;